.App {
  text-align: left;
  /* height: 50px */
}

.line {
  /* height: 50px; */
  display: flex;
}

.tile {
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}


.tile-correct{
  background-color: lightgreen;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}

.tile-almost{
  background-color: yellow;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}

.tile-incorrect{
  background-color: rgb(243, 236, 236);
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
  text-transform: capitalize;
}